<form #playerForm="ngForm" 
    (ngSubmit)="onSubmit(); playerForm.form.reset();">
    <div>
        <mat-form-field>
            <input type="text" id="name" name="name" matInput placeholder="Name"
                [(ngModel)]="model.name" #name="ngModel" required>
        </mat-form-field>
    </div>
    <div>
        <mat-checkbox id="protect" name="protect" color="primary"
            [(ngModel)]="model.protectedWithPassword" #protect="ngModel">
            Protect with password
        </mat-checkbox>
    </div>
    <div *ngIf="model.protectedWithPassword">
        <mat-form-field>
            <input type="password" id="pass" name="pass" matInput placeholder="Password"
                [(ngModel)]="password" #pass="ngModel" required minlength="4">
        </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit" 
        [disabled]="!playerForm.form.valid">
        CREATE PLAYER
    </button>
</form>